<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin
    </title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/tutfrom.js"></script>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../satic/favicon.ico" type="image/x-icon">
    
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top mb-5">
        <a class="navbar-brand" href="#"><img src="{{ url_for('static',filename='yourstutor.png')}}" width="60" height="60" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportContent">
            <ul class=" navbar-nav ml-auto">
                <li class=" nav-item"><a class=" nav-link text-uppercase text-light" href="index.html">HOME</a></li>
                <li class=" nav-item"><a class=" nav-link text-uppercase text-light" href="dist.html">Distric data</a></li>
                <li class=" nav-item"><a class=" nav-link text-uppercase text-light" href=""><button class="btn btn-outline-danger" onclick="adLout()">Log Out</button></a></li>
                <!-- <li class=" nav-item"></li><a class="mdl-navigation__link" href="dist.html">Distric data</a></li>
                <a class="mdl-navigation__link" href="#"><button style="color: white; background-color: rgba(216, 11, 11, 0.712); box-shadow: 0rem;" onclick="adLout()">Log Out</button></a> -->
                <!-- <li class=" nav-item"><a class=" nav-link text-uppercase text-light" href="#reg">Student Register</a></li> -->
            </ul>
        </div>
    </nav><br><br><br><br><br>
    .<div class="container">
        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#tutor" role="tab" aria-controls="tutor" aria-selected="true">Tutor</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tutS" role="tab" aria-controls="tutS" aria-selected="false">Tutor search</a>
            </li>
            <li class="nav-item" onclick="retrieveSt()">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Stud" role="tab" aria-controls="Stud" aria-selected="false">Student</a>
            </li>
            <li class="nav-item" onclick="custView()">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#StudS" role="tab" aria-controls="StudS" aria-selected="false">Student Having Tutor</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#dis" role="tab" aria-controls="dis" aria-selected="false">Contact</a>
            </li> -->
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active w-100 align-content-center align-items-center align-self-center justify-content-center" id="tutor" role="tabpanel" aria-labelledby="home-tab">
              <center>
                {% block non %}
                {% endblock non %}
              </center>
            <div class="align-items-center align-self-center align-content-center justify-content-center">
            
            </div>
                <!-- <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Dark card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div> -->

            </div>
            <div class="tab-pane fade" id="tutS" role="tabpanel" aria-labelledby="profile-tab">
              
              <center>
              {% block search%}
              {% endblock search %}
             </center>

            </div>
            <div class="tab-pane fade" id="Stud" role="tabpanel" aria-labelledby="contact-tab">
                <center>
                  <div id="list_non_var_stud" class=" align-content-center align-items-center align-self-center justify-content-center">
                    Loading..
                  </div>
                </center>
            
            </div>
            <div class="tab-pane fade" id="StudS" role="tabpanel" aria-labelledby="contact-tab">
              <center>
                <div id="cust" class=" align-content-center align-items-center align-self-center justify-content-center m-2">
                  Loading..
                </div>
              </center>
            </div>
            <div class="tab-pane fade" id="dis" role="tabpanel" aria-labelledby="contact-tab">5...</div>
          </div>
    </div>
    

</body>
</html>