<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin
    </title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../satic/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/417090db95.js" crossorigin="anonymous"></script>
    
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-dark bg-success  mb-5">
        <a class="navbar-brand" href="/"><img src="../static/yourstutor.png" width="60" height="60" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportContent">
            <ul class=" navbar-nav ml-auto">
                <li class=" nav-item"><a class=" nav-link text-uppercase text-light" href="/">HOME</a></li>
                <li class=" nav-item"><a class=" nav-link text-uppercase text-light" href="/admin/login"><button class="btn btn-outline-danger">Log Out</button></a></li>
                <!-- <li class=" nav-item"></li><a class="mdl-navigation__link" href="dist.html">Distric data</a></li>
                <a class="mdl-navigation__link" href="#"><button style="color: white; background-color: rgba(216, 11, 11, 0.712); box-shadow: 0rem;" onclick="adLout()">Log Out</button></a> -->
                <!-- <li class=" nav-item"><a class=" nav-link text-uppercase text-light" href="#reg">Student Register</a></li> -->
            </ul>
        </div>
    </nav>
    <div class="container">
        <a class="btn btn-primary text-light" href="/admin/tutors">Tutors</a>
        <a class="btn btn-primary text-light" href="/admin/students">Students</a>
        <a class="btn btn-primary text-light" href="/admin/marketers">Marketers</a>
        <div>
            {% block admin %}
            {% endblock admin %}
            {% block search %}
            {% endblock search %}
        </div>
    </div>
</body>
</html>