<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="../satic/favicon.ico" type="image/x-icon">
</head>
<body style="background-color: #2d2f39;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
        <div class="col-8 pl-6 ml-4 ">
            <a class="navbar-brand" href="/"><img src="../static/yourstutor.png" width="60" height="60" alt=""></a>
            
        </div>
        <button class="navbar-toggler collapsed mr-3" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="col-4">
            <div class="row" >
                <!-- <div class="col-1 p-4">
                    
                </div> -->
                <div class="col-3">
                    <div class="navbar-collapse collapse m-4 " id="navbarColor01">
                      <ul class="navbar-nav mr-auto">
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/admin/tutors"><button class="btn btn-outline-primary m-2" type="button">Tutors</button></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/admin/students"><button class="btn btn-outline-primary m-2" type="button">Students</button></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/admin/marketers"><button class="btn btn-outline-primary m-2" type="button">Marketers</button></a>
                        </li>
                        
                      </ul>
                     
                    </div>

                </div>
            </div>
        </div>
      
    </nav>
<div class="row m-3 text-light">
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-primary ">
            <div class=" card-header text-center">Today's Registrations</div>
            <div class=" card-body row ">
                <div class=" col-6 bg-primary card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ today.tutor }}
                    </h6>

                </div>
                <div class=" col-6 bg-primary card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ today.student }}
                    </h6>
                </div>
                <div class=" col-12 bg-primary card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ today.marketer }}
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-primary ">
            <div class=" card-header text-center">Total Registrations</div>
            <div class=" card-body row ">
                <div class=" col-6 bg-primary card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ total.tutor }}
                    </h6>

                </div>
                <div class=" col-6 bg-primary card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ total.student }}
                    </h6>
                </div>
                <div class=" col-12 bg-primary card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ total.marketer }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-primary ">
            <div class=" card-header text-center">Marketers</div>
            <div class=" card-body row ">
                <div class=" col-6 bg-primary card ">
                    <h6 class="  text-center  mt-1">Today</h6>
                    <h6 class="  text-center  mt-1">
                        {{ today.marketer }}
                    </h6>

                </div>
                <div class=" col-6 bg-primary card">
                    <h6 class="  text-center  mt-1">Total</h6>
                    <h6 class="  text-center  mt-1">
                        {{ total.marketer }}
                    </h6>
                </div>
                
            </div>
        </div>
    </div> -->

</div>

<a href="#states" class="btn btn-primary ml-3">States</a>
<div class="row m-3">
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Thiruvananthapuram</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl1_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl1_s }}
                    </h6>
                </div>

                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl1_m }}
                    </h6>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Kollam</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl2_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl2_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl2_m }}
                    </h6>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Pathanamthitta</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl3_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl3_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl3_m }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Alappuzha</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl4_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl4_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl4_m }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Kottayam</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl5_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl5_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl5_m }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Idukki</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl6_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl6_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl6_m }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Ernakulam</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl7_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl7_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl7_m }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Thrissur</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl8_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl8_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl8_m }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Palakkad</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl9_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl9_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl9_m }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Malappuram</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl10_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl10_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl10_m }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Kozhikode</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl11_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl11_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl11_m }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Wayanad</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl12_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl12_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl12_m }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Kannur</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl13_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl13_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl13_m }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Kasargod</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl14_t }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ district.kl14_s }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ district.kl14_m }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>







<!-- states section -->
<h4 id="states" class="m-3 text-light">States</h4>
<div class="row m-3">
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Andaman & Nicobar</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT1 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS1 }}
                    </h6>
                </div>

                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM1 }}
                    </h6>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Andhra Pradesh</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT2 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS2 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM2 }}
                    </h6>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Arunachal Pradesh</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT3 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS3 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM3 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Assam</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT4 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS4 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM4 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Bihar</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT5 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS5 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM5 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Chattisgarh</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT7 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS7 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM7 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Dadra & Nagar Haveli</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT8 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS8 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM8 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Daman & Diu</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT9 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS9 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM9 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Delhi</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT10 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS10 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM10 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Goa</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT11 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS11 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM11 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Gujarat</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT12 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS12 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM12 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Haryana</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT13 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS13 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM13 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Himachal Pradesh</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT14 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS14 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM14 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Jammu & Kashmir</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT15 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS15 }}
                    </h6>
                </div>

                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM15 }}
                    </h6>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Jharkhand</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT16 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS16 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM16 }}
                    </h6>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Karnataka</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT17 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS17 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM17 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Kerala</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT18 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS18 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM18 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Lakshadweep</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT19 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS19 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM19 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Madhya Pradesh</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT20 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS20 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM20 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Maharashtra</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT21 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS21 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM21 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Manipur</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT22 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS22 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM22 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Meghalaya</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT23 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS23 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM23 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Mizoram</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT24 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS24 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM24 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Nagaland</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT25 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS25 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM25 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Odisha</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT26 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS26 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM26 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Punjab</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT6 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS6 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM6 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Rajasthan</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT28 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS28 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM28 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Sikkim</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT29 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS29 }}
                    </h6>
                </div>

                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM29 }}
                    </h6>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Tamil Nadu</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT27 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS27 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM27 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Telangana</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT30 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS30 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM30 }}
                    </h6>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Tripura</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT31 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS31 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM31 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Uttar Pradesh</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT32 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS32 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM32 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">Uttarakhand</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT33 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS33 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM33 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-6 p-2">
        <div class="card bg-dark text-white">
            <div class=" card-header text-center">West Bengal</div>
            <div class=" card-body row text-info">
                <div class=" col-6 bg-dark card ">
                    <h6 class="  text-center  mt-1">Tutors</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indT34 }}
                    </h6>

                </div>
                <div class=" col-6 bg-dark card">
                    <h6 class="  text-center  mt-1">Students</h6>
                    <h6 class="  text-center  mt-1">
                        {{ states.indS34 }}
                    </h6>
                </div>
                <div class=" col-12 bg-dark card">
                    <h6 class="  text-center  mt-1">
                        Marketers : {{ states.indM34 }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>