{% extends "base.html" %}{% block title %} {{user}} Login {% endblock title %}
{% block base %}

<br />
<div class="container p-5" style="height: 100%; box-shadow: 2px 2px 14px 4px #888888;">
  <div class="row" >
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                    <div class="col-12 bg-white m-2 p-2" > 
                        {% for message in messages %}
                            <div class=" badge-pill bg-danger"><h2 class="text-light">{{ message }}</h2></div>
                        {% endfor %}    
                    </div>
                    {% endif %}
                {% endwith %}
    <div class=""><h3 class=" text-success m-3"><i class="fa fa-lock" ></i> Please login
    </h3>
      <form action="{{usr.path}}" method="post">
        <input
          type="text"
          placeholder="Username"
          name="username"
          class="form-control m-2"
        />
        <input
          type="password"
          placeholder="Password"
          name="password"
          class="form-control m-2"
        />
        <input class="btn btn-outline-success m-2" type="submit" value="Login" />
      </form>
      <a href="{{usr.newuser}}"> New user?</a>
      <a href="{{usr.reset}} " class=" ml-3"> Forgot password</a>
       {% endblock base %}

      </div>
    </div>
  </div>
</div>