<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">

        <div style="display: {{vem}};">
            <h4>Enter your registered email here.</h4>
            <form action="" method="post">
                <input class=" form-control" type="email" name="email" placeholder="email"> 
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div style="display: {{vpin}};">
            <h4>Varification code will send to your email address, Enter here.</h4>
            <form action="" method="post">
                <input class=" form-control" type="number" name="pin" placeholder="CODE">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                        <div class="col-12 bg-white m-2 p-2" > 
                            {% for message in messages %}
                                <div class="bg-danger"><h2 class="text-light">{{ message }}</h2></div>
                            {% endfor %}    
                        </div>
                        {% endif %}
                    {% endwith %}
    </div>
</body>
</html>