{% extends 'head.html' %}
    {% block body%}
        
        <div class=" row">
            <div class=" col-md-4 col-sm-12 text-center card mt-2 " id="dataPart">
                <!-- <img class=" card-img w-25 rounded-circle" id="propic" src="yourstutor.png"><br> -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="bg-info"><h2 class="text-light">{{ message }}</h2></div>
                        {% endfor %}    
                    {% endif %}
                {% endwith %}
                {% if stud.studid%}
                    <div class="bg-info text-light"><h4 class=" m-3 ">Tutor id</h4><h5 id="PName">{{ stud.studid }}</h5></div>
                {% endif %}
                <h4 class=" m-3">Name</h4><h5 id="PName">{{ stud.fname }}</h5>
                <h4 class=" m-3">Username</h4><h5 id="PName">{{ stud.username }}</h5>
                <h4 class=" m-3">Tutor</h4><h5 id="PName">{{ stud.tutor }}</h5>
                <h4 class=" m-3">Email</h4><h5 id="PEmail">{{stud.email}}</h5>
                <h4 class=" m-3">Phone</h4><h5 id="PPhone">{{stud.phone}}</h5>
                <h4 class=" m-3">District</h4><h5 id="PDist">{{stud.district}}</h5>
                <h4 class=" m-3">Taluk</h4><h5 id="PCity">{{stud.taluk}}</h5>
                <h4 class=" m-3">Village</h4><h5 id="PTown">{{stud.village}}</h5>
                <h4 class=" m-3">Prefered Tuision</h4><h5 id="PTuit">{{stud.tuition}}</h5>
                <h4 class=" m-3">Date of Birth</h4><h5 id="PDob">{{stud.dob.date()}}</h5>
                
            </div>
            <div class=" col-md-8 col-sm-12 text-center card  mt-2">
                <div class=" row p-4">
                    <!-- <div class=" col-md-5 col-sm-5 card bg-success m-3" id="monGet">
                        <h4 class="card-title text-light">Total Get</h4><h2 id="monGetData" class="card_data text-center text-white"></h2>
                            
                        </div>
                        <div class=" col-md-5 col-sm-5 card bg-warning m-3" id="monPay">
                        <h4 class="card_title text-light">Pay</h4><h2 id="monPayData" class="card_data text-center text-white h-50"></h2>
                            
                        </div> -->
                </div>
                   
                    
                 <h4>Identity card</h4>
                <img id="qual" class=" card-img m-2 h-50 w-100" src={{stud.image}}>
                    {#<script> 
                        var nam=localStorage.getItem("user");</script>#}
                        <div class="w-50 align-self-center mt-4">
                        {% if not stud.tutor %}
                <form method="POST" action="/student/assign" >
                    <input class=" form-control" placeholder="Enter tutor's username here" type="text" name='tutname'><br>
                    <input type="text" value="{{stud.username}}" name='username' style='display:none'><br>
                    <button type="submit" class=" form-control btn-success">Assign</button>
                </form>
                  {% endif %}
                  <form method="POST" action="/tutor/delete" >
                    <input type="text" value="{{stud.username}}" name='username' style='display:none'><br>

                    <button type="submit" class=" form-control btn-danger">Delete</button>
                  </form>
                        </div>
                    <!-- <h4>Aadhaar Cad</h4>
                    <img id="icard" class=" card-img"> -->
              </div>
            
            </div>
    {% endblock body%}
   

        


