{% extends 'head.html' %}
    {% block title %}
        <title>{{stud.fname}}</title>
    {% endblock title %}
    {% block body%}<title>stud.name</title>
        
        <div class=" row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                    <div class="col-12 bg-white m-2 p-2" > 
                        {% for message in messages %}
                            <div class="bg-danger"><h2 class="text-light">{{ message }}</h2></div>
                        {% endfor %}    
                    </div>
            {% endif %}
            {% endwith %}
            <div class=" col-md-4 col-sm-12 text-center card mt-2 " id="dataPart">
                <!-- <img class=" card-img w-25 rounded-circle" id="propic" src="yourstutor.png"><br> -->
                
                {% if stud.studid%}
                    <div class="bg-info text-light"><h4 class=" m-3 ">Student id</h4><h5 id="PName">{{ stud.studid }}</h5></div>
                {% endif %}
                <h4 class=" m-3">Name</h4><h5 id="PName">{{ stud.fname }}</h5>
                <h4 class=" m-3">Username</h4><h5 id="PName">{{ stud.username }}</h5>
                <h4 class=" m-3">Tutor</h4><h5 id="PName">{{ stud.tutor }}</h5>
                <h4 class=" m-3">Email</h4><h5 id="PEmail">{{stud.email}}</h5>
                <h4 class=" m-3">Phone</h4><h5 id="PPhone">{{stud.phone}}</h5>
                <h4 class=" m-3">State</h4><h5 id="PState">{{stud.state}}</h5>
                <h4 class=" m-3">District</h4><h5 id="PDist">{{stud.district}}</h5>
                <h4 class=" m-3">Block</h4><h5 id="PCity">{{stud.block}}</h5>
                <h4 class=" m-3">Location</h4><h5 id="PTown">{{stud.location}}</h5>
                <h4 class=" m-3">Prefered Tuision</h4><h5 id="PTuit">{{stud.tuition}}</h5>
                <h4 class=" m-3">Date of Birth</h4><h5 id="PDob">{{stud.dob.date()}}</h5>
                
            </div>
            <div class=" col-md-8 col-sm-12 text-center card  mt-2">
                <div class=" row p-4">
                    
                </div>
                   
                    
                 <h4>Identity card</h4>
                <img id="qual" class=" card-img m-2 h-50 w-100" src={{stud.image}}>
                    {#<script> 
                        var nam=localStorage.getItem("user");</script>#}
                        <div class="w-50 align-self-center mt-4">
                        {% if not stud.tutor %}
                <form method="POST" action="/student/assign" >
                    <input class=" form-control" placeholder="Enter tutor's username here" type="text" name='tutname'><br>
                    <input type="text" value="{{stud.username}}" name='username' style='display:none'><br>
                    <button type="submit" class=" form-control btn-success">Assign</button>
                </form>
                  {% endif %}
                  <form method="POST" action="/tutor/delete" >
                    <input type="text" value="{{stud.username}}" name='username' style='display:none'><br>

                    <button type="submit" class=" form-control btn-danger">Delete</button>
                  </form>
                        </div>
                    <!-- <h4>Aadhaar Cad</h4>
                    <img id="icard" class=" card-img"> -->
              </div>
            
            </div>
    {% endblock body%}
   

        


