{% extends 'head.html' %}
{% block title %}
    <title>{{tutor.fname}}</title>
    <style>
        h4{
            color:rgb(19, 121, 134)
        }
    </style>
{% endblock title %}
    {% block body %}
        
        <div class=" row">
            <div class=" col-md-6 col-sm-12 text-center card mt-2 " id="dataPart">
                <!-- <img class=" card-img w-25 rounded-circle" id="propic" src="yourstutor.png"><br> -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="bg-info m-3" ><h2 class="text-light">{{ message }}</h2></div>
                        {% endfor %}    
                    {% endif %}
                {% endwith %}
                {% if tutor.tutid%}
                    <div class="bg-secondary text-light"><h4 class=" m-3 ">Tutor id</h4><h5 id="PName">{{ tutor.tutid }}</h5></div>
                {% endif %}
                {% if studs %}
                <div class=" row "></div>
                    {% for stud in studs %}
                        <div class="col-sm-12 col-md-8">
                            <div class="card m-3 bg-primary text-light">
                                <div class=" card-header">
                                    {{stud.fname}}
                                </div>
                                <div class=" card-body">
                                    {% if stud.attend %}
                                    {% set total = namespace(value=0) %}
                                    <table class=" w-100">
                                        {% for att in stud.attend  %}
                                        <tr>
                                            <td><h6>{{att.date.date()}} : </h6></td><td><h6>{{att.minute}}mins</h6></td>
                                        </tr>
                                        {% set total.value = total.value + att.minute  %}
                                        <!-- {{ total }} -->
                                        {% endfor %}
                                    </table>
                                    <div class=" card-footer w-100 m-n2">
                                        total = {{total.value}} mins <br>
                                        {% set hr = total.value / 60 %}
                                        {% set min = total.value % 60 %}
                                        total = {{hr|round|int}} : {{min}} hr
                                        <form action="/admin/attendance/clear" method="post">
                                            <input type="text" name="user" value="{{stud.username}}" style="display: none;" >
                                            <button type="submit" class="btn btn-warning text-light">Reset</button>
                                        </form>
                                    </div>
                                    {% endif %}
                                </div>    
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <h4 class=" m-3">Name</h4><h5 id="PName">{{ tutor.fname }}</h5>
                <h4 class=" m-3">Username</h4><h5 id="PName">{{ tutor.username }}</h5>
                <h4 class=" m-3">Email</h4><h5 id="PEmail">{{tutor.email}}</h5>
                <h4 class=" m-3">Phone</h4><h5 id="PPhone">{{tutor.phone}}</h5>
                <h4 class=" m-3">State</h4><h5 id="PState">{{tutor.state}}</h5>
                <h4 class=" m-3">District</h4><h5 id="PDist">{{tutor.district}}</h5>
                <h4 class=" m-3">Block</h4><h5 id="PCity">{{tutor.block}}</h5>
                <h4 class=" m-3">Location</h4><h5 id="PTown">{{tutor.location}}</h5>
                <h4 class=" m-3">Qualification</h4><h5 id="PQuali">{{tutor.qualification}}</h5>
                <h4 class=" m-3">Date of Birth</h4><h5 id="PDob">{{tutor.dob.date()}}</h5>
                <h4 class=" m-3">Prefered Tuision</h4><h5 id="PTuit">{{tutor.tutionopt}}</h5>
                <h4 class=" m-3">Tuition Categories</h4>
                {% if tutor.is1to5 %}
                    <h5 class=' mb-5'>1 - 5</h5><br>
                {% endif %}
                {% if tutor.is6to12 %}
                    <h5>6 - 12</h5>
                    <h5 class=' mb-5'>{{tutor.syllabus}}</h5><br><br>
                {% endif %}
                {% if tutor.isUG %}
                    <h5>UG</h5>
                    <h5>{{tutor.ugBrach}}<h5><br>
                {% endif %}
                {% if tutor.isPG %}
                    <h5>UG</h5>
                    <h5>{{tutor.pgBrach}}<h5><br>
                {% endif %}
                {% if tutor.isCoaching %}
                    <h5>UG</h5>
                    <h5>{{tutor.coachBrach}}<h5><br>
                {% endif %}
                {% if tutor.others %}
                    <h5>Others</h5>
                    <h5>{{tutor.others}}<h5><br>
                {% endif %}

                {% if tutor.Bed %}
                    <h5 class=' mb-1'>Bed</h5><br>
                {% endif %}
                {% if tutor.SET %}
                    <h5 class=' mb-1'>SET</h5><br>
                {% endif %}
                {% if tutor.NET %}
                    <h5 class=' mb-1'>NET</h5><br>
                {% endif %}
                <h4>Pursuing</h4>
                <h5>{{tutor.pursuing}}</h5>
                <h4>Experiance</h4>
                {% if  tutor.exInstitute %}
                    <h5>{{tutor.exInstitute}}</h5>
                    <h5>{{tutor.exTime}}</h5>
                {% else %}
                    <h5>No previous experiance</h5>
                {% endif %}
                
            </div>
            <div class=" col-md-6 col-sm-12 text-center card  mt-2">
                <div class=" row p-4">
                    
                </div>
                <h4>Tuition Mode</h4>
                   {% if tutor.isOnline %}
                    <h5>Online</h5>
                {% else %}
                    <h5>Offline</h5>
                {% endif %}
                    
                 <h4>Identity card</h4>
                <img id="qual" class=" card-img m-2 h-50 w-100" src={{tutor.image}}>
                    
                        <div class="w-50 align-self-center mt-4">
                        {% if not tutor.isvarify%}
                <form method="POST" action="/tutor/verify" >
                    <input type="text" value="{{tutor.username}}" name='username' style='display:none'><br>
                    Tutor id is will be assigned
                    <input type="text" value="{{tutid}}" name='tutid'><br>
                    
                    <button type="submit" class=" form-control btn-success">Varify</button>
                  </form>
                  {% endif %}
                  <form method="POST" action="/tutor/delete" >
                    <input type="text" value="{{tutor.username}}" name='username' style='display:none'><br>

                    <button type="submit" class=" form-control btn-danger">Delete</button>
                  </form>
                        </div>
                    <!-- <h4>Aadhaar Cad</h4>
                    <img id="icard" class=" card-img"> -->
              </div>
            
            </div>
    {% endblock body%}
   

        


